.advantages {
    background: $light;
    padding: 40px 0 30px;
    &__item {
        text-align: center;
        margin: 15px 0;
        max-width: 25%;
        flex: 0 0 25%;
        @include breakpoint(lg) {
            max-width: 50%;
            flex: 0 0 50%;
            display: flex;
        }
        @include breakpoint(sm) {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
    &__icon {
        // background: $gray;
        // border-radius: 50%;
        // display: inline-block;
        // padding: 30px;
        position: relative;
        width: 116px;
        height: 66.97px;
        background-color: transparent;
        margin: 33.49px 0;
        border-left: solid 2px $text;
        border-right: solid 2px $text;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(0.0001deg);
        @include breakpoint(lg) {
            flex-shrink: 0;
        }
        @include breakpoint(md) {
            width: auto;
            height: auto;
            margin: 0;
            border: 0;
        }
        &:before,
        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            width: 82.02px;
            height: 82.02px;
            transform: scaleY(0.5774) rotate(-45deg);
            background-color: inherit;
            left: 14.9878px;
            box-sizing: border-box;
            @include breakpoint(md) {
                display: none;
            }
        }
        &:before {
            top: -41.0122px;
            border-top: solid 2.8284px #292929;
            border-right: solid 2.8284px #292929;
        }
        &:after {
            bottom: -41.0122px;
            border-bottom: solid 2.8284px #292929;
            border-left: solid 2.8284px #292929;
        }

        svg {
            width: 70px;
            height: 70px;
            fill: $dark;
            @include breakpoint(640px) {
                width: 60px;
                height: 60px;
            }
            @include breakpoint(sm) {
                width: 70px;
                height: 70px;
            }
            @include breakpoint(xxs) {
                width: 60px;
                height: 60px;
            }
        }
    }
    &__info {
        @include breakpoint(lg) {
            text-align: left;
            margin-left: 20px;
        }
        @include breakpoint(md) {
            margin-left: 15px;
        }
        @include breakpoint(sm) {
            margin-left: 20px;
        }
        @include breakpoint(xxs) {
            margin-left: 15px;
        }
        h4 {
            text-transform: uppercase;
            margin: 60px 0 15px;
            font-weight: normal;
            font-size: 18px;
            @include breakpoint(lg) {
                margin: 0px 0 10px;
            }
            @include breakpoint(640px) {
                font-size: 17px;
            }
            @include breakpoint(sm) {
                font-size: 18px;
            }
            @include breakpoint(xxs) {
                font-size: 17px;
                margin: 0px 0 5px;
            }
            &:after {
                display: block;
                content: "";
                background: $accent;
                width: 50px;
                height: 3px;
                margin-top: 15px;
                margin-left: auto;
                margin-right: auto;
                @include breakpoint(lg) {
                    margin-left: 0;
                    margin-top: 10px;
                }
                @include breakpoint(800px) {
                    display: none;
                }
            }
        }
        p {
            line-height: 1.5;
            color: #8c8c8c;
            font-size: 16px;
            margin-bottom: 1rem;
            @include breakpoint(xs) {
                margin-bottom: 0;
                font-size: 15px;
            }
        }
    }
}