section.achievements
	.container
		ul.achievements__list.row
			li.achievements__item.col
				span.achievements__symbol >
				span.achievements__years 0
				p лет опыта работы
			li.achievements__item.col
				span.achievements__symbol >
				span.achievements__clients 0
				p благодарных клиентов
			li.achievements__item.col
				span.achievements__percents 0
				span.achievements__symbol %
				p клиентов пришли к нам вновь