.blog-recents
	h5 Недавние статьи
	ul
		li #[a(href="").trs При какой температуре замерзает бензин]
		li #[a(href="").trs При какой температуре замерзает бензин]
		li #[a(href="").trs При какой температуре замерзает бензин]
		li #[a(href="").trs При какой температуре замерзает бензин]