.popup#popup-success
	.popup__wrapper(role="dialog")
		.popup__body
			.pulse-box
				+icon("check")
			h3 Сообщение успешно отправлено
			p.popup__disc Наши сотрудники свяжутся с Вами в ближайшее время.
			button.btn.popup__close Хорошо
