extends template/aside

block variables
	- var title = 'Полезные автолюбителю статьи'
	- var pageClass = ''
	- var pageUrl = 'blog.html'

block content
	.blog-grid
		.row.blow-grid__row
			article.col.blog-grid__item
				h5 При какой температуре замерзает бензин
				.blog-grid__item-body
					p Бензин – один из самых распространённых видов топлива. Однако, как и любая другая жидкость, он в конечном итоге может замёрзнуть при достижении определенной температуры. Замёрзшее топливо неизбежно грозит серьёзными механическими повреждениями автомобиля. Именно поэтому любому автовладельцу нужно знать о том
				.blog-grid__item-footer
					a(href="").trs Подробнее
			article.col.blog-grid__item
				h5 При какой температуре замерзает бензин
				.blog-grid__item-body
					p Бензин – один из самых распространённых видов топлива. Однако, как и любая другая жидкость, он в конечном итоге может замёрзнуть при достижении определенной температуры. Замёрзшее топливо неизбежно грозит серьёзными механическими повреждениями автомобиля. Именно поэтому любому автовладельцу нужно знать о том
				.blog-grid__item-footer
					a(href="").trs Подробнее
			article.col.blog-grid__item
				h5 При какой температуре замерзает бензин
				.blog-grid__item-body
					p Бензин – один из самых распространённых видов топлива. Однако, как и любая другая жидкость, он в конечном итоге может замёрзнуть при достижении определенной температуры. Замёрзшее топливо неизбежно грозит серьёзными механическими повреждениями автомобиля. Именно поэтому любому автовладельцу нужно знать о том
				.blog-grid__item-footer
					a(href="").trs Подробнее
			article.col.blog-grid__item
				h5 При какой температуре замерзает бензин
				.blog-grid__item-body
					p Бензин – один из самых распространённых видов топлива. Однако, как и любая другая жидкость, он в конечном итоге может замёрзнуть при достижении определенной температуры. Замёрзшее топливо неизбежно грозит серьёзными механическими повреждениями автомобиля. Именно поэтому любому автовладельцу нужно знать о том
				.blog-grid__item-footer
					a(href="").trs Подробнее


block aside
	include modules/blog-recents
