extends template/aside

block variables
	- var title = 'Услуги'
	- var pageClass = ''
	- var pageUrl = 'services.html'

block content
	.services
		h5#1 Выхлопная система
		ul
			+service("Диагностика выхлопной системы")
			+service("Замена выпускного коллектора")
			+service("Замена глушителя")
			+service("Замена гофры")
			+service("Замена катализатора")
			+service("Ремонт кронштейна глушителя")
			+service("Сварочные работы")
			+service("Замена приемной трубы глушителя")
			+service("Замена прокладки приемной трубки")
			+service("Замена резонатора")
			+service("Ремонт глушителя")
			+service("Ремонт катализатора")
			+service("Тюнинг выхлопной системы")
		h5#2 Двигатель
		ul
			+service("Диагностика двигателя")
			+service("Замена бензинового двигателя")
			+service("Замена бензонасоса")
			+service("Замена дизельного двигателя")
			+service("Замена задней опоры двигателя")
			+service("Замена масла в двигателе")
			+service("Замена маслосъемных колпачков")
			+service("Замена масляного насоса")
			+service("Замена опоры двигателя")
			+service("Замена передней опоры двигателя")
			+service("Замена помпы")
			+service("Замена приводного ремня")
			+service("Замена прокладки ГБЦ")
			+service("Капитальный ремонт дизельного двигателя")
			+service("Промывка инжектора")
			+service("Промывка форсунок")
			+service("Регулировка клапанов")
			+service("Ремонт ГБЦ")
			+service("Ремонт бензинового двигателя")
			+service("Ремонт дизельного двигателя")
			+service("Замена прокладки впускного-выпуского коллектора")
			+service("Замена прокладки клапанной крышки")
			+service("Замена прокладки поддона")
			+service("Замена редуктора")
			+service("Замена ремня ГРМ")
			+service("Замена ролика приводного ремня")
			+service("Замена свечей зажигания")
			+service("Замена свечей накаливания")
			+service("Замена топливного шланга")
			+service("Замена турбины")
			+service("Замена форсунок")
			+service("Замена цепи ГРМ")
			+service("Капитальный ремонт бензинового двигателя")
			+service("Ремонт карбюратора")
			+service("Ремонт редуктора")
			+service("Ремонт турбин")
			+service("Ремонт форсунок")
			+service("Снятие/установка ГБЦ двигателя")
			+service("Ремонт инжектора")
		h5#3 Диагностика
		ul
			+service("Диагностика АКПП")
			+service("Диагностика МКПП")
			+service("Диагностика выхлопной системы")
			+service("Диагностика двигателя")
			+service("Диагностика кондиционера")
			+service("Диагностика тормозной системы")
			+service("Диагностика электрооборудования")
			+service("Комплексная диагностика")
			+service("Диагностика подвески")
			+service("Компьютерная диагностика")
		h5#4 Замена жидкостей
		ul
			+service("Замена жидкости ГУР")
			+service("Замена масла АКПП")
			+service("Замена масла МКПП")
			+service("Замена масла в DSG")
			+service("Замена масла в двигателе")
			+service("Замена масла раздаточной коробки")
			+service("Замена охлаждающей жидкости (антифриз)")
			+service("Замена тормозной жидкости")
		h5#5 Кондиционеры и отопление
		ul
			+service("Антибактериальная обработка")
			+service("Диагностика кондиционера")
			+service("Замена испарителя")
			+service("Замена компрессора")
			+service("Замена охлаждающей жидкости (антифриз)")
			+service("Замена радиатора кондиционера")
			+service("Замена радиатора охлаждения")
			+service("Замена радиатора печки")
			+service("Замена ремня кондиционера")
			+service("Замена термостата")
			+service("Заправка кондиционера")
			+service("Опрессовка кондиционера")
			+service("Промывка радиатора")
			+service("Ремонт кондиционера")
			+service("Ремонт радиатора")
			+service("Ремонт радиатора кондиционера")
			+service("Ремонт радиатора охлаждения")
		h5#6 Кузовной ремонт
		ul
			+service("Замена бампера")
			+service("Замена двери")
			+service("Замена капота")
			+service("Замена крыла")
			+service("Замена крышки багажника")
			+service("Кузовной ремонт")
			+service("Постановка на стапель")
			+service("Ремонт бампера")
			+service("Ремонт зеркал")
			+service("Сварочные работы кузова")
			+service("Стапельные работы")
			+service("Удаление вмятин без покраски")
		h5#7 Плановое ТО
		ul
			+service("Плановое ТО")
		h5#8 Подвеска
		ul
			+service("Диагностика подвески")
			+service("Замена амортизаторов")
			+service("Замена опорного подшипника")
			+service("Замена опоры амортизатора")
			+service("Замена поворотного кулака")
			+service("Замена подшипника ступицы")
			+service("Замена пружин подвески")
			+service("Замена рычагов подвески")
			+service("Замена сайлентблоков")
			+service("Замена стабилизатора")
			+service("Замена ступицы")
			+service("Замена шаровой опоры")
			+service("Сход-развал")
		h5#9 Покраска
		ul
			+service("Аэрография")
			+service("Локальная покраска")
			+service("Матовая покраска")
			+service("Покраска бампера")
			+service("Покраска бокового зеркала")
			+service("Покраска двери")
			+service("Покраска детали")
			+service("Покраска капота")
			+service("Покраска крыла")
			+service("Покраска крыши")
			+service("Покраска крышки багажника")
			+service("Покраска молдинга бампера")
			+service("Покраска молдинга двери")
			+service("Покраска порога")
			+service("Покраска ручки двери")
			+service("Покраска стойки")
			+service("Полная покраска авто")
			+service("Устранение сколов кузова")
		h5#10 Полировка
		ul
			+service("Абразивная полировка кузова")
			+service("Кварцевое покрытие")
			+service("Нанесение Ceramic pro")
			+service("Нано полировка")
			+service("Полировка бампера")
			+service("Полировка детали")
			+service("Полировка кузова")
			+service("Полировка фар")
			+service("Химчистка")
		h5#11 Ремонт автостекол
		ul
			+service("Вклейка лобового стекла")
			+service("Замена заднего стекла")
			+service("Замена стекла задней двери")
			+service("Замена стекла передней двери")
			+service("Ремонт сколов стекла")
		h5#12 Рулевое управление
		ul
			+service("Замена ШРУСа")
			+service("Замена гидроусилителя")
			+service("Замена жидкости ГУР")
			+service("Замена жидкости ЭГУР")
			+service("Замена насоса гидроусилителя")
			+service("Замена пыльника ШРУСа")
			+service("Замена ремня гидроусилителя")
			+service("Замена рулевого наконечника")
			+service("Замена рулевой рейки")
			+service("Замена рулевой тяги")
			+service("Замена сальника")
			+service("Ремонт гидроусилителя")
			+service("Ремонт рулевого механизма")
			+service("Ремонт рулевой рейки")
		h5#13 Техническое обслуживание
		ul
			+service("Замена воздушного фильтра")
			+service("Замена масла в двигателе")
			+service("Замена свечей зажигания")
			+service("Замена свечей накаливания")
			+service("Замена топливного фильтра")
			+service("Замена фильтра салона")
			+service("Снятие/установка защиты картера")
		h5#14 Тонировка, Автовинил
		ul
			+service("Бронирование пленкой автомобиля")
			+service("Бронирование стекол")
			+service("Бронирование фар")
			+service("Оклейка авто глянцевой пленкой")
			+service("Оклейка авто карбон пленкой")
			+service("Оклейка авто матовой пленкой")
			+service("Оклейка антигравийной плёнкой")
			+service("Оклейка фар пленкой")
			+service("Тонирование автомобилей")
			+service("Тонировка задних стекол")
			+service("Тонировка лобового стекла")
			+service("Тонировка передних стекол")
		h5#15 Тормозная система
		ul
			+service("Диагностика тормозной системы")
			+service("Замена главного тормозного цилиндра")
			+service("Замена датчика ABS")
			+service("Замена колодок стояночного тормоза")
			+service("Замена суппорта")
			+service("Замена тормозного шланга")
			+service("Замена тормозной жидкости")
			+service("Замена тормозных дисков")
			+service("Замена тормозных колодок")
			+service("Замена тормозных цилиндров")
			+service("Замена троса ручного тормоза")
			+service("Прокачка тормозов")
			+service("Регулировка стояночного тормоза")
			+service("Ремонт ручного тормоза")
			+service("Ремонт суппорта")
		h5#16 Трансмиссия
		ul
			+service("Диагностика АКПП")
			+service("Диагностика МКПП")
			+service("Замена DSG")
			+service("Замена АКПП")
			+service("Замена МКПП")
			+service("Замена гидроблока")
			+service("Замена гидротрансформатора")
			+service("Замена масла АКПП")
			+service("Замена масла МКПП")
			+service("Замена масла в DSG")
			+service("Замена масла в редукторе")
			+service("Замена масла раздаточной коробки")
			+service("Ремонт АКПП")
			+service("Ремонт МКПП")
			+service("Ремонт РКПП")
			+service("Ремонт гидроблока")
			+service("Ремонт гидротрансформатора")
			+service("Ремонт раздаточной коробки")
			+service("Ремонт электронного блока управления")
		h5#17 Установка доп. оборудования
		ul
			+service("Антикоррозийная обработка")
			+service("Вклейка лобового стекла")
			+service("Перетяжка потолка")
			+service("Перетяжка руля")
			+service("Перетяжка салона")
			+service("Перетяжка торпеды")
			+service("Установка DVD")
			+service("Установка автозвука")
			+service("Установка автосигнализации")
			+service("Установка автосигнализаций с автозапуском")
			+service("Установка биксенона")
			+service("Установка видеорегистратора")
			+service("Установка газобаллонного оборудования (ГБО)")
			+service("Установка иммобилайзера")
			+service("Установка камеры заднего вида")
			+service("Установка ксенона")
			+service("Установка магнитолы")
			+service("Установка навигации")
			+service("Установка омывателя фар")
			+service("Установка парктроников")
			+service("Установка подогрева сидений")
			+service("Установка сабвуфера")
			+service("Установка секретной кнопки")
			+service("Установка спутниковых сигнализаций")
			+service("Установка усилителя")
			+service("Установка, ремонт газоаппаратуры")
			+service("Шумоизоляция")
		h5#18 Шиномонтаж
		ul
			+service("Вулканизация")
			+service("Ошиповка резины")
			+service("Покраска дисков")
			+service("Правка дисков")
			+service("Ремонт боковых порезов")
			+service("Сварка дисков")
			+service("Сезонное хранение шин")
			+service("Устранение прокола колеса")
			+service("Финишная балансировка")
			+service("Шиномонтаж")
		h5#19 Электрооборудование
		ul
			+service("Диагностика электрооборудования")
			+service("Замена блока предохранителей")
			+service("Замена генератора")
			+service("Замена замка зажигания")
			+service("Замена катушки зажигания")
			+service("Замена коммутатора")
			+service("Замена ламп габаритных огней")
			+service("Замена лампы ближнего света")
			+service("Замена механизма стеклоочистителя")
			+service("Замена проводов высокого напряжения")
			+service("Замена ремня генератора")
			+service("Замена стартера")
			+service("Замена трамблера")
			+service("Зарядка АКБ")
			+service("Регулировка фар")
			+service("Ремонт генератора")
			+service("Ремонт стартера")
block aside
	nav.services-nav
		ul.services-nav__list
			+sevicesNavItem("1", "Выхлопная система")
			+sevicesNavItem("2", "Двигатель")
			+sevicesNavItem("3", "Диагностика")
			+sevicesNavItem("4", "Замена жидкостей")
			+sevicesNavItem("5", "Кондиционеры и отопление")
			+sevicesNavItem("6", "Кузовной ремонт")
			+sevicesNavItem("7", "Плановое ТО")
			+sevicesNavItem("8", "Подвеска")
			+sevicesNavItem("9", "Покраска")
			+sevicesNavItem("10", "Полировка")
			+sevicesNavItem("11", "Ремонт автостекол")
			+sevicesNavItem("12", "Рулевое управление")
			+sevicesNavItem("13", "Техническое обслуживание")
			+sevicesNavItem("14", "Тонировка, Автовинил")
			+sevicesNavItem("15", "Тормозная система")
			+sevicesNavItem("16", "Трансмиссия")
			+sevicesNavItem("17", "Установка доп. оборудования")
			+sevicesNavItem("18", "Шиномонтаж")
			+sevicesNavItem("19", "Электрооборудование")
			

		