- var phone = '+7 (915) 200-35-55'
- var phoneShort = '+79152003555'
- var email = 'info@mvmotorauto.ru'
- var time = 'Пн - Пт 9.00 - 18.00'
- var address = 'Московская область, Ленинский район, деревня Апаринки, стр. 9'